body {
	background: url("http://img.wallpapergang.com/115processed/white%20earphones.jpg") no-repeat fixed;
	background-size: cover;
}


.Top {
	background-color: black;
	color : #ffffff;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
	text-align: center;
}

.Title{
	color: white;
	text-align: center;
	font-size: 50px;
}

.ListSongs {
	background-color: black;
	text-align: center;
	margin-top: 20px;
	color : #ffffff;
	border-style: groove;
	border-radius: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

h3 {
	font-family: "Copperplate Gothic Bold";
}

p {
	font-family: "Times New Roman";
	font-size: 15px;
}

.configIndex {
	background-color: black;
	height: 50px;
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
	color : #ffffff;
	border-style: groove;
	border-radius: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

.index {
	text-align: center;
	vertical-align: center;
	margin-top: 15px;
	font-size: 50px;
}

.imgPlay {
	height: 110px;
	width: auto;
	margin-top: 10px;
}

.ImgDisk {
	height: 120px;
	width: auto;
}

li:hover {
	cursor: pointer;
}

li {
	vertical-align: center;
	font-size: 15px;
}