#bot{
	margin-left: -25px;
}
.jumbotron{
	display:none;
	margin-top: 0px;
	background-color: #424242;
	font-family:comic;
	color: white;
	text-align: center;
	text-shadow: 0 0 0.5em #D8D8D8, 0 0 0.5em #D8D8D8, 0 0 0.5em #D8D8D8;
}
.recuadro-botones{
	background-color: gray;
}
.titulos
{
	text-align: center;
}
body{
	background: url("../images/p2.gif");
	
}
.row{
	font-family: verdana;
	margin-left: 10px;
}
.btn{
	background-color: gray;
	color:white;
	margin-left: 65px;
}

.results{
	color: black;
	text-shadow: 0 0 0.5em;
}
#barra{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	text-shadow: 0 0 0.5em #D8D8D8, 0 0 0.5em #D8D8D8, 0 0 0.5em #D8D8D8;
}